﻿/* Style the buttons that are used to open and close the accordion panel */
button.accordion-button {
    /*по дефoлту всегда закрыто*/
    background-image: url("../images/Front/agreedtext-accordion/folding-tables_icon_hide2.png");
    background-position: 2% center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    background-color: rgb(0, 154, 213);
    color: #fff;
    cursor: pointer;
    padding: 10px;
    padding-left: 50px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 10px;
    margin-bottom: 10px;
}

    button.accordion-button.open {
        background-image: url("../images/Front/agreedtext-accordion/folding-tables_icon_show2.png");
        background-position: 2% center;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        -webkit-background-size: 25px 25px;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    button.accordion-button.active, button.accordion-button:hover {
        background-color: #37c6fc;
    }

/* Style the accordion panel. Note: hidden by default */
div.accordion-panel {
    padding: 10px 50px 0px 15px;
    background-color: #ececec;
    display: none;
    padding-bottom: 10px;
}

/*========================================================================================================================*/

/* Style the buttons that are used to open and close the accordion panel */
button.accordion-button-dialog {
    /*по дефoлту всегда закрыто*/
    background-image: url("../images/Front/agreedtext-accordion/folding-tables_icon_hide2.png");
    background-position: 2% center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    background-color: rgb(0, 154, 213);
    color: #fff;
    cursor: pointer;
    /*padding: 10px; */
    padding-left: 50px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 10px;
}

    button.accordion-button-dialog.open {
        background-image: url("../images/Front/agreedtext-accordion/folding-tables_icon_show2.png");
        background-position: 2% center;
        background-repeat: no-repeat;
        background-size: 25px 25px;
        -webkit-background-size: 25px 25px;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    button.accordion-button-dialog.active, button.accordion-button-dialog:hover {
        background-color: #37c6fc;
    }

/* Style the accordion panel. Note: hidden by default */
div.accordion-panel-dialog {
    font-size: 11px !important;
    line-height: 14px !important;
    padding: 10px 50px 0px 15px;
    background-color: #ececec;
    display: none;
    padding-bottom: 10px;
}

