.car-catalogue a:hover {
  text-decoration: none;
}

.car-catalogue a:hover .car-price-block,
.car-catalogue a:hover .car-price {
  text-decoration: none;
  color: #00adef;
}

#wewillfind .wewillfind>[class*="col-"] {
  padding: 0;
}

#wewillfind .wewillfind .dialog-CheckBoxFor-div {
  line-height: 1;
  margin-bottom: 5px;
}

.section-characteristics .kit-table-container {
  overflow-y: hidden;
}

.section-characteristics .kit-table-container .kit-table {
  position: relative;
  border-bottom: 1px #dddddd solid;
  margin: -1px 0 0 0;
}

.section-characteristics .kit-table-container .kit-table .kit-item {
  border-top: 1px #dddddd solid;
  border-bottom: none;
}

#CarOrderForm #AgreeWithPersonalDataProcessing {
  margin-right: 0;
}

#carOrderForm .accordion-button {
  display: inline-block;
  width: 100%;
}

#CarOrderForm .checkboxLabel strong {
  width: calc(100% - 40px);
  float: right;
  line-height: 1;
}

#custom-wrapper .section-conditions .row-no-pad .row {
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 5px;
}

#custom-wrapper .header-nav .global-nav a:hover {
  text-decoration: none;
}

.footer-subscribe-button {
  padding-bottom: 3px;
}

input.footer-subscribe-email-field {
  padding-bottom: 2px;
}

#custom-wrapper .section-conditions .pdfLinks a:hover {
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
}

.section-heading .heading-details a:hover {
  text-decoration: none;
}

@media all and (max-width: 1200px) {
  #carGrid .grid-price-hide-for-big .specoffer_btn {
    float: none;
    margin: 0;
  }
  
  #CarTable table.stock-table .car-table-empty-th {
    display: none;
  }

  .stock-table td.st-image, .stock-table th.st-image {
    width: 220px;
  }
}

@media all and (max-width: 750px) {
  .section-privileges .tabs-content-container {
    padding: 20px;
  }
  .section-privileges .tab-content [class*="col-"] {
    padding-right: 0;
  }
  .section-privileges .embed-responsive {
    margin-bottom: 15px;
  }
  .section-contacts .row,
  .section-contacts .row img {
    margin: 0 auto;
  }
  .section-contacts .container .row>[class*="col-"] {
    padding: 0;
  }
  #CarOrderForm .dialog-CheckBoxFor,
  #CarOrderForm .communications-container .checkboxLabel {
    display: block;
    margin-bottom: 5px;
  }

  #custom-wrapper .section-conditions .pdfLinks a {
    margin-top: 5px;
    float: none;
  }

  .stock-table td.st-image, .stock-table th.st-image {
    width: 170px;
  }
}

/* // 750 .... */
@media (max-width: 750px) {
  .btn.btn-sandwich {
      display: block !important;
      margin-bottom: 0px !important;
      margin-top: 20px;
  }
}