@media (min-width: 480px) {
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
        border: none;
        width: 455px !important;
    }

    .send-popup form .email_btn {
        background-image: url("../images/popup_sent_btn1.png");
        background-repeat: no-repeat;
        background-position: right top;
        border: medium none !important;
        cursor: pointer;
        margin: 0;
        padding: 2px 18px 4px 5px;
        color: #FFFFFF !important;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 11px !important;
        line-height: 14px !important;
        position: absolute;
        /*left: 370px;
        top: 52px;*/
        display: block;
        width: 73px;
        height: 18px;
        text-indent: 16px;
    }

    .send-popup form input[type="text"] {
        background: none repeat scroll 0 0 #EFEFF1;
        border: 1px solid #CCCCCC;
        font-size: 14px;
        height: 20px;
        line-height: 16px;
        padding: 2px 4px;
        width: 100% !important;
    }

    .send-popup form .email-btn-close {
        background: #676767;
        border-style: solid;
        border-width: 1px;
        border-color: #999 #333 #333 #999;
        position: absolute;
        left: 180px;
        display: block;
        width: 100px;
        height: 25px;
        font-family: Arial;
        font-size: 14px;
        color: #fff !important;
    }
}

@media (max-width: 480px) {
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
        border: none;
        width: 350px !important;
    }

    .send-popup form .email_btn {
        background-image: url("../images/popup_sent_btn1.png");
        background-repeat: no-repeat;
        background-position: right top;
        border: medium none !important;
        cursor: pointer;
        margin: 0;
        padding: 2px 18px 4px 5px;
        color: #FFFFFF !important;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 11px !important;
        line-height: 14px !important;
        /*position: absolute;*/
        /*left: 370px;*/
        /*top: 72px;*/
        display: block;
        width: 73px;
        height: 18px;
        text-indent: 16px;
    }

    .send-popup form input[type="text"] {
        background: none repeat scroll 0 0 #EFEFF1;
        border: 1px solid #CCCCCC;
        font-size: 14px;
        height: 20px;
        line-height: 16px;
        padding: 2px 4px;
        width: 100%;
    }

    .send-popup form .email-btn-close {
        background: #676767;
        border-style: solid;
        border-width: 1px;
        border-color: #999 #333 #333 #999;
        position: absolute;
        left: 120px;
        display: block;
        width: 100px;
        height: 25px;
        font-family: Arial;
        font-size: 14px;
        color: #fff !important;
    }
}


.send-popup form dt {
    margin-bottom: 5px;
    color: #858585;
    font-family: Arial;
    font-size: 12px;
}

.send-popup form dd {
    margin-bottom: 15px;
    margin-left: 0;
}



.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    /*background: url("../images/popupHeaderBg.jpg") repeat-x;*/
    background-color: #333;
}

.ui-dialog {
    padding: 0;
}

    .ui-dialog .ui-dialog-titlebar-close {
        background: url("../images/popupClose.png") 0 0 no-repeat;
        border: none;
        right: 0.1em !important;
    }

    .ui-dialog .ui-dialog-content {
        height: 140px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .ui-dialog .ui-dialog-title {
        color: #fff !important;
        font-weight: bold;
        font-size: 14px;
    }


    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable[aria-describedby="commercial-offer"] {
        width: 600px !important;
        height: 400px !important;
    }

#commercial-offer {
    height: 370px !important;
}

.send-popup form textarea {
    background: none repeat scroll 0 0 #EFEFF1;
    border: 1px solid #CCCCCC;
    font-size: 16px;
    line-height: 16px;
    padding: 2px 4px;
    width: 260px !important;
}

#commercial-offer textarea {
    width: 100% !important;
}

#commercial-offer input[type=text] {
    width: 100% !important;
}

#email form div label {
    color: #858585;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
}

#email {
    height: 600px;
}

.editor-field .field-validation-error {
    color: red;
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
    display: block;
    margin-top: -10px;
}

.text-message {
    font-family: Arial;
    font-size: 14px;
    text-align:center;
}