﻿
.logo-base {
    margin-top: 22px;
    margin-bottom: 22px;
}

.logo-link {
    display: table-row;
}

.logo-icon {
    /*width: 64px!important;
    height: 64px!important;*/
    padding-right: 64px;
}

    .logo-icon .svg-img {
        width: 64px!important;
        height: 64px!important;
    }

.logo-icon-text {
    display: table-cell;
    vertical-align: bottom;
}
