﻿.app-store-logo {
    display: block;
    width: 105px;
    height: 35px;
    max-width: 100%;
    background: url(../images/phones-stores/app-store.png) no-repeat transparent;
    background-size: auto auto;
    background-size: contain;
}

.google-play-logo {
    display: block;
    width: 105px;
    height: 35px;
    max-width: 100%;
    background: url(../images/phones-stores/gp-store.png) no-repeat transparent;
    background-size: auto auto;
    background-size: contain;
}
