﻿.dialog-label {
    color: #858585;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    margin-top: 3px;
}

.dialog-CheckBoxFor {
    color: #858585;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    padding-right: 20px;
}

.dialog-CheckBoxFor-div {
    line-height: 11px;
}

.dialog-inputtext {
    background: none repeat scroll 0 0 #EFEFF1 !important;
    border: 1px solid #CCCCCC !important;
    font-size: 16px !important;
    height: 35px !important;
    line-height: 16px !important;
    padding: 2px 4px !important;
    width: 300px !important;
}

.ui-dialog .ui-dialog-content{
    height: auto !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

button.submit-button-dialog {
    /*по дефoлту всегда закрыто*/
    background-color: rgb(0, 154, 213);
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 10px;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    button.submit-button-dialog.active, button.submit-button-dialog:hover {
        background-color: #37c6fc;
    }

input.submit-button-dialog {
    /*по дефoлту всегда закрыто*/
    background-color: rgb(0, 154, 213);
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 10px;
    height: 31px;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    input.submit-button-dialog.active, input.submit-button-dialog:hover {
        background-color: #37c6fc;
    }

.field-validation-error {
    color: red;
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
    display: block;
    margin-top: -10px;
}
